@import 'assets/style/app.variables';

.tracker {
  background: rgba(0, 0, 0, $text-opacity);
  height: 110vh;
  position: relative;
  .screen {
    // Remove shaking due to animation
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    // Remove shaking due to animation
    height: 812px;
    overflow: hidden;
    margin: {
      top: 20px;
      bottom: 20px;
    }
    padding: 18px 18px 0 18px;
    background: $white-1;
    background-image: $bg-gradient;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
