// Colors
$green-1: #34c7a0;
$green-2: #00b6a3;
$blue-1: #008aa2;
$white: #fff;
$gray-1: #898694;
$dark-1: #0000001a;

// All pages
$transparency-bg: 0.25;
$opacity-text: 0.7;
$rectangle-small-radius: 23px;
$rectangle-medium-radius: 28px;
$rectangle-details-radius: 28px 28px 0 0;
$bg-gradient: linear-gradient(to right $green-1 0%, $blue-1 100%);
