.activity-day {
  padding: 25px 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 28px;
  color: #fff;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px; }
  .activity-day .activity-description {
    display: flex; }
    .activity-day .activity-description .activity-icon {
      width: 40px;
      margin-right: 10px;
      background: rgba(255, 255, 255, 0.25);
      height: 40px;
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      border-radius: 100%; }
    .activity-day .activity-description .header-content .title {
      font-size: 20px;
      line-height: 25px; }
    .activity-day .activity-description .subtitle {
      font-size: 16px;
      line-height: 19px;
      opacity: 0.7; }
  .activity-day .activity-result {
    margin-left: auto;
    font-size: 38px;
    line-height: 46px; }
  .activity-day.average-duration {
    padding: 25px 20px 46px 20px;
    flex-direction: column; }
    .activity-day.average-duration .activity-result {
      margin-left: 0;
      margin-top: 25px;
      text-align: center; }
