@import 'assets/style/app.variables';

.activity-day {
  &:hover {
    background: rgba(255, 255, 255, 0.35);
  }
  cursor: pointer;
  padding: 25px 20px;
  background: rgba(255, 255, 255, $bg-transparency);
  border-radius: $rectangle-medium-radius;
  color: $white-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px;

  .activity-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .activity-icon {
      width: 40px;
      margin-right: 10px;
      background: rgba(255, 255, 255, $bg-transparency);
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 100%;
    }

    .header-content {
      .title {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 3px;
      }
    }

    .subtitle {
      font-size: 16px;
      line-height: 19px;
      opacity: $text-opacity;
    }
  }

  .activity-result {
    margin-left: auto;
    font-size: 38px;
    line-height: 46px;
  }

  &.average-duration {
    padding: 25px 20px 46px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .activity-result {
      margin-left: 0;
      margin-top: 25px;
      text-align: center;
    }
  }
}
