@import 'assets/style/app.variables';

.screen-header {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  .welcome-content {
    padding: 24px 27px;
    border-radius: $rectangle-medium-radius;
    background: $white-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-title {
    font-size: 34px;
    line-height: 41px;
    font-family: helvetica neue;
    color: $green-2;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }
  .header-subtitle {
    font-size: 16px;
    line-height: 19px;
    color: $gray-1;
    letter-spacing: 0.24px;
  }

  .detail-content {
    padding: 24px 27px;
    border-radius: $rectangle-medium-radius;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: rgba(255, 255, 255, $bg-transparency);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      cursor: pointer;
      color: $white-1;

      &:hover {
        opacity: $text-opacity;
      }

      i {
        font-size: 40px;
      }
    }

    .header-content {
      .header-title,
      .header-subtitle {
        color: $white-1;
      }

      .header-subtitle {
        opacity: $text-opacity;
      }
    }
  }
  // }
}
