.screen-header {
  padding: 24px 27px;
  background: #fff;
  border-radius: 28px;

  .header-title {
    font-size: 34px;
    line-height: 41px;
    font-family: helvetica neue;
    color: #00b6a3;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }
  .header-subtitle {
    font-size: 16px;
    line-height: 19px;
    color: #898694;
    letter-spacing: 0.24px;
  }
}
