.tracker {
  background: rgba(0, 0, 0, 0.7);
  height: 110vh;
  position: relative; }
  .tracker .screen {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
    height: 812px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 18px 18px 0 18px;
    background: #fff;
    background-image: linear-gradient(152deg, #34c7a0, #008aa2);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.screen-header {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1); }
  .screen-header .welcome-content {
    padding: 24px 27px;
    border-radius: 28px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .screen-header .header-title {
    font-size: 34px;
    line-height: 41px;
    font-family: helvetica neue;
    color: #00b6a3;
    letter-spacing: 0.48px;
    margin-bottom: 10px; }
  .screen-header .header-subtitle {
    font-size: 16px;
    line-height: 19px;
    color: #898694;
    letter-spacing: 0.24px; }
  .screen-header .detail-content {
    padding: 24px 27px;
    border-radius: 28px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .screen-header .detail-content span {
      cursor: pointer;
      color: #fff; }
      .screen-header .detail-content span:hover {
        opacity: 0.7; }
      .screen-header .detail-content span i {
        font-size: 40px; }
    .screen-header .detail-content .header-content .header-title,
    .screen-header .detail-content .header-content .header-subtitle {
      color: #fff; }
    .screen-header .detail-content .header-content .header-subtitle {
      opacity: 0.7; }

.days-navigation {
  width: 340px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: 60px;
  padding: 30px 0 40px 0;
  grid-column-gap: 10px; }

.rectangle-day {
  background: rgba(255, 255, 255, 0.25);
  padding: 11px;
  border-radius: 23px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in; }
  .rectangle-day:hover {
    transition: initial;
    background: rgba(255, 255, 255, 0.35); }
  .rectangle-day.rectangle-active {
    background: #fff;
    color: #00b6a3; }
    .rectangle-day.rectangle-active:hover {
      opacity: 1; }
  .rectangle-day .day-name,
  .rectangle-day .day-in-month {
    opacity: 0.7; }

.activity-day {
  cursor: pointer;
  padding: 25px 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 28px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 15px; }
  .activity-day:hover {
    background: rgba(255, 255, 255, 0.35); }
  .activity-day .activity-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .activity-day .activity-description .activity-icon {
      width: 40px;
      margin-right: 10px;
      background: rgba(255, 255, 255, 0.25);
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 100%; }
    .activity-day .activity-description .header-content .title {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 3px; }
    .activity-day .activity-description .subtitle {
      font-size: 16px;
      line-height: 19px;
      opacity: 0.7; }
  .activity-day .activity-result {
    margin-left: auto;
    font-size: 38px;
    line-height: 46px; }
  .activity-day.average-duration {
    padding: 25px 20px 46px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .activity-day.average-duration .activity-result {
      margin-left: 0;
      margin-top: 25px;
      text-align: center; }

.main-activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 155px; }

.activity-details {
  font-family: Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  border-radius: 28px 28px 0 0;
  padding-top: 40px;
  padding-bottom: 30px; }
  .activity-details .top-content {
    margin: 0 55px;
    height: 231px;
    width: 231px;
    border-radius: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 8px solid #00b6a3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .activity-details .top-content .activity-icon {
      width: 40px;
      background: rgba(0, 182, 163, 0.25);
      height: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 100%;
      color: #fff; }
    .activity-details .top-content .activity-info-name {
      font-size: 20px;
      line-height: 24px;
      padding: 6px 0; }
    .activity-details .top-content .activity-result {
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 1.15px; }
  .activity-details .middle-content {
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center; }
    .activity-details .middle-content .activity-mark {
      font-size: 20px;
      line-height: 24px; }
    .activity-details .middle-content .support-text {
      font-size: 40px;
      line-height: 58px; }
  .activity-details .bottom-content {
    display: grid;
    width: 339px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr); }
    .activity-details .bottom-content .column {
      text-align: center;
      border-right: 2px solid #b3b3b3;
      padding: 0 12.5px; }
      .activity-details .bottom-content .column:last-child {
        border-right: initial; }
      .activity-details .bottom-content .column .unit {
        font-size: 18px;
        line-height: 22px;
        color: #b3b3b3; }
      .activity-details .bottom-content .column .result {
        font-size: 34px;
        line-height: 49px;
        color: #00b6a3; }
