@import 'assets/style/app.variables';

.rectangle-day {
  background: rgba(255, 255, 255, $bg-transparency);
  padding: 11px;
  border-radius: $rectangle-small-radius;
  color: $white-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;

  &:hover {
    transition: initial;
    background: rgba(255, 255, 255, 0.35);
  }

  &.rectangle-active {
    background: $white-1;
    color: $green-2;

    &:hover {
      opacity: 1;
    }
  }

  .day-name,
  .day-in-month {
    opacity: $text-opacity;
  }
}
